body {
    padding: 0;
    margin: 0;
    background-color: #ededef;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    z-index: 9999;
}

#header #header-inner {
    margin: 0 auto;
}

#titleDiv {
    float: left;
}

#titleDiv #titleDiv-inner {
    color: #fdfdfd;
    font-size: 24px;
    padding-top: 5px;
}

#linksDiv {
    float: right;
    text-align: right;
}

#linksDiv #linksDiv-inner {
    padding-top: 10px;
}

#linksDiv-inner a {
    text-decoration: none;
    font-size: 14px;
    color: #fdfdfd;
    margin-left: 20px;
}

#linksDiv-inner a:hover {
    text-decoration: underline;
}

.panel-header {
    background-color: #555;
    color: #fdfdfd;
}
