body {
    padding: 0;
    margin: 0;
    background: url(../image/back.png);
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2d4e67;
    z-index: 9999;
}

#header #header-inner {
    margin: 0 auto;
}

#titleDiv {
    float: left;
}

#titleDiv #titleDiv-inner {
    color: #fff;
    text-shadow: 1px 1px 2px #0B2C45;
    font-size: 18px;
    padding-top: 5px;
}

#linksDiv {
    float: right;
    text-align: right;
}

#linksDiv #linksDiv-inner {
    padding-top: 10px;
}

#linksDiv-inner a {
    text-decoration: none;
    font: 12px Georgia, Serif;
    color: #fdfdfd;
    margin-left: 20px;
}

#linksDiv-inner b {
    color: #fdfdfd;
}
#linksDiv-inner span {
    color: #fdfdfd;
}

#linksDiv-inner a:hover {
    text-decoration: underline;
}

.panel {
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px #b0b3b6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #b0b3b6;
    box-shadow: 0 1px 2px #b0b3b6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #b0b3b6;
    box-shadow: 0 1px 2px #b0b3b6;
    -moz-box-shadow: 0 1px 2px #b0b3b6;
    -webkit-box-shadow: 0 1px 2px #b0b3b6;
}

.panel-header {
    background-color: #99ccff;
    color: #666;
}

.panel-title, .panel-with-icon {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #444;
}

.datagrid-row-over, .datagrid-header td.datagrid-header-over {
    background: #99ccff;
    color: #404040;
    cursor: default;
}

.datagrid-row-selected {
    background: #3e5f88;
    color: #fff;
}

.window {
    background-color: #99ccff;
}