.datagrid-cell {
    margin-left: 4px;
    margin-right: 4px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#fm {
    margin: 0;
    padding: 10px 30px;
}

.ftitle {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem {
    margin-bottom: 5px;
}

.fitem label {
    display: inline-block;
    width: 80px;
}

#container {
    margin: 46px auto;
}

.panel {
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    box-shadow: 1px 1px 3px #ddd, -1px -1px 3px #ddd;
}

#leftPanel {
    float: left;
    margin-right: 10px;
    background-color: #f5f5f5;
}

.panel-title, .panel-with-icon {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #fdfdfd;
}

.right-child {
    float: right;
    width: 818px;
    height: 880px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 3px #ddd, -1px -1px 3px #ddd;
}

#summary-div .panel {
    margin-top: 36px;
    margin-left: 80px;
}

.panel-header {
    background-color: #555;
    color: #fdfdfd;
}

#summary-div .panel-title {
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 5px;
    padding-left: 10px;
    color: #fdfdfd;
}

#summary-content {
    float: left;
}

#contact-content {
    padding-left: 30px;
}

#hq-summary-table tr, #hq-total-table tr {
    height: 36px;
}

#hq-summary-table td, #hq-total-table td {
    font-size: 18px;
    width: 300px;
    border: 1px solid #ddd;
    padding-left: 30px;
}

td a {
    font-size: 18px;
    color: #663366;
}

td span {
    font-size: 12px;
}

#trend-graph, #total-graph {
    float: right;
    padding-top: 60px;
}

.toolMenu li {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: circle;
}

.toolMenu li a {
    font-size: 15px;
    font-family: "微软雅黑";
    color: #999;
    cursor: pointer;
}

.toolMenu li a:hover {
    color: #666;
    text-decoration: underline;
}

.toolMenu li a.onSelect {
    color: #333;
}

#queryPanel {
    float: left;
    padding-left: 500px;
}

#taskDiv .panel + .panel {
    margin-left: 150px;
    margin-top: 10px;
}

#ff {
    margin-left: 100px;
}

#ff tr {
    height: 36px;
    width: 360px;
    font-size: 18px;
}

#hq-query-button, #hq-reset-button {
    width: 56px;
    height: 26px;
    box-shadow: 1px 1px 1px #ddd, -1px -1px 1px #ddd;
}

.toolMenu {
    margin-left: -10px;
}

