.datagrid-cell {
    margin-left: 4px;
    margin-right: 4px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#fm {
    margin: 0;
    padding: 10px 30px;
}

.ftitle {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem {
    margin-bottom: 5px;
}

.fitem label {
    display: inline-block;
    width: 80px;
}

#container {
    margin: 10px auto;
}

.panel {
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#leftPanel {
    float: left;
    margin-right: 10px;
    background-color: #f5f5f5;
}

.panel-title, .panel-with-icon {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
}

#taskDiv {
    float: right;
}

#trendGraph {
    float: right;
    padding-top: 60px;
}

.toolMenu li {
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: circle;
}

.toolMenu li a {
    font-size: 15px;
    font-family: "微软雅黑";
    color: #033d61;
    cursor: pointer;
}

.toolMenu li a:hover {
    font-weight: bold;
}

.toolMenu li a.onSelect {
    font-weight: bold;
    color: #0099FF;
}

#queryPanel {
    float: left;
    padding-left: 500px;
}

#taskDiv .panel + .panel {
    margin-left: 150px;
    margin-top: 10px;
}

#ff{
    margin-left: 100px;
}